# IMPORT PANDAS AND MYSQL CONNECTOR

In [10]:
import pandas as pd
import mysql.connector

# MYSQL SERVER CONNECTION

In [11]:
try:
    cnx = mysql.connector.connect(user='root', password='root',
                              host='127.0.0.1')
    

    mycursor = cnx.cursor()
    

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

## SCHEMA CREATION

In [12]:
query_create_schema = """CREATE SCHEMA StreamMusic"""
mycursor.execute(query_create_schema)

## CURSOR CREATION

In [13]:
mycursor.execute('USE StreamMusic')

## EUROVISION TABLE CREATION AND FEEDING

In [14]:
eurovision_table = {  'API_Eurovision' : """CREATE TABLE api_eurovision (
                                            ID SMALLINT NOT NULL AUTO_INCREMENT,
                                            EurovisionYear YEAR NOT NULL,
                                            Ranking INT NOT NULL,
                                            Artist VARCHAR(45) NOT NULL,                              
                                            Track VARCHAR(70) NOT NULL,
                                            Country VARCHAR(3) NOT NULL,
                                            PRIMARY KEY (ID))"""}

In [15]:
for k, v in eurovision_table.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_Eurovision
------------

#### INSERT EUROVISION DATA

In [16]:
def insert_api_eu(year, tuples):
    query_table = """INSERT INTO API_EUROVISION (EurovisionYear, Ranking, Artist, Track, Country)
                    VALUES (%s, %s, %s, %s, %s)"""
    
    tuples_year = [(year, *t) for t in tuples]

    mycursor = cnx.cursor()
    mycursor.executemany(query_table,  tuples_year)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

### 2019

In [17]:
df_api_eurovision2019 = pd.read_csv("../../files/Eurovision/2019/euro_ranking2019.csv", index_col=0)
api_eurovision2019_tuples = list(df_api_eurovision2019.itertuples(index=False, name=None))
year19 = 2019
insert_api_eu(year19, api_eurovision2019_tuples)

41 values entered

### 2021

In [18]:
df_api_eurovision2021 = pd.read_csv("../../files/Eurovision/2021/euro_ranking2021.csv", index_col=0)
api_eurovision2021_tuples = list(df_api_eurovision2021.itertuples(index=False, name=None))
year_21 = 2021
insert_api_eu(year_21, api_eurovision2021_tuples)

39 values entered

### 2022

In [19]:
df_api_eurovision2022 = pd.read_csv("../../files/Eurovision/2022/euro_ranking2022.csv", index_col=0)
api_eurovision2022_tuples = list(df_api_eurovision2022.itertuples(index=False, name=None))
año_22 = 2022

insert_api_eu(año_22, api_eurovision2022_tuples)

40 values entered

### 2023

In [20]:
df_api_eurovision2023 = pd.read_csv("../../files/Eurovision/2023/euro_ranking2023.csv", index_col=0)
api_eurovision2023_tuples = list(df_api_eurovision2023.itertuples(index=False, name=None))
year_23 = 2023

insert_api_eu(year_23, api_eurovision2023_tuples)

37 values entered

### 2024

In [21]:
df_api_eurovision2024 = pd.read_csv("../../files/Eurovision/2024/euro_ranking2024.csv", index_col=0)
api_eurovision2024_tuples = list(df_api_eurovision2024.itertuples(index=False, name=None))
year_24 = 2024

insert_api_eu(year_24, api_eurovision2024_tuples)

37 values entered

## SPOTIFY TABLE CREATION AND FEEDING

In [22]:
spotify_table = {'API_Spotify' :     """CREATE TABLE api_spotify_playlist (
                                            ID INT NOT NULL AUTO_INCREMENT,
                                            Artist VARCHAR(45) NOT NULL,
                                            Track VARCHAR(70) NOT NULL,
                                            Popularity INT NOT NULL,
                                            EurovisionYear YEAR NOT NULL,
                                            Duration INT NOT NULL,
                                            PRIMARY KEY (ID))"""}

In [23]:
for k, v in spotify_table.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_Spotify

------------

#### INSERT SPOTIFY DATA

In [24]:
def insert_api_spotify(year, tuples):
    query_table = """INSERT INTO api_spotify_playlist (Artist, Track, Popularity, EurovisionYear, Duration)
                    VALUES (%s, %s, %s, %s, %s)"""
    
    tuples_year = [(t[:3] + (year,) + t[3:]) for t in tuples]

    mycursor = cnx.cursor()
    mycursor.executemany(query_table,  tuples_year)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

### 2019

In [25]:
df_api_spotify2019 = pd.read_csv("../../files/Spotify_sql/eurovision2019.csv", index_col=0)
api_spotify2019_tuples = list(df_api_spotify2019.itertuples(index=False, name=None))
year19 = 2019
insert_api_spotify(year19, api_spotify2019_tuples)

42 values entered

### 2021

In [26]:
df_api_spotify2021 = pd.read_csv("../../files/Spotify_sql/eurovision2021.csv", index_col=0)
api_spotify2021_tuples = list(df_api_spotify2021.itertuples(index=False, name=None))
year21 = 2021
insert_api_spotify(year21, api_spotify2021_tuples)

53 values entered

### 2022

In [27]:
df_api_spotify2022 = pd.read_csv("../../files/Spotify_sql/eurovision2022.csv", index_col=0)
api_spotify2022_tuples = list(df_api_spotify2022.itertuples(index=False, name=None))
year22 = 2022
insert_api_spotify(year22, api_spotify2022_tuples)

40 values entered

### 2023

In [28]:
df_api_spotify2023 = pd.read_csv("../../files/Spotify_sql/eurovision2023.csv", index_col=0)
api_spotify2023_tuples = list(df_api_spotify2023.itertuples(index=False, name=None))
year23 = 2023
insert_api_spotify(year23, api_spotify2023_tuples)

38 values entered

### 2024

In [29]:
df_api_spotify2024 = pd.read_csv("../../files/Spotify_sql/eurovision2024.csv", index_col=0)
api_spotify2024_tuples = list(df_api_spotify2024.itertuples(index=False, name=None))
year24 = 2024
insert_api_spotify(year24, api_spotify2024_tuples)

37 values entered

## LAST FM DATA ARTISTS TABLE CREATION AND FEEDING

In [30]:
lastfm_artists_table = {'API_LastFM_Info_Artists' : """CREATE TABLE api_lastfm_info_artists (
                                                    ID INT NOT NULL AUTO_INCREMENT,
                                                    Artist VARCHAR(45) NOT NULL,
                                                    Listeners INT,
                                                    Playcount INT,
                                                    Genre1 VARCHAR(45),
                                                    Genre2 VARCHAR(45),
                                                    Genre3 VARCHAR(45),
                                                    Similar_Artists1 VARCHAR(45),
                                                    Similar_Artists2 VARCHAR(45),
                                                    Similar_Artists3 VARCHAR(45),
                                                    PRIMARY KEY (ID))""" }

In [31]:
for k, v in lastfm_artists_table.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_LastFM_Info_Artists
------------

#### INSERT LASTFM ARTIST DATA

In [32]:
def insert_api_lastfm(tuples):
    query_table = """INSERT INTO api_lastfm_info_artists (Artist, Listeners, Playcount, Genre1, Genre2, Genre3, Similar_Artists1, Similar_Artists2, Similar_Artists3)
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    

    mycursor = cnx.cursor()
    mycursor.executemany(query_table, tuples)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

### 2019

In [33]:
df_lastfm2019_artists = pd.read_csv("../../files/LastFm/2019/info_artists_2019.csv", sep=";")
df_lastfm2019_artists_notnull = df_lastfm2019_artists.where(pd.notnull(df_lastfm2019_artists), None)
api_lastfm2019_tuples = list(df_lastfm2019_artists_notnull.itertuples(index=False, name=None))
insert_api_lastfm(api_lastfm2019_tuples)

5 values entered

### 2021

In [34]:
df_lastfm2021_artists = pd.read_csv("../../files/LastFm/2021/info_artists_2021.csv", sep=";")
df_lastfm2021_artists_notnull = df_lastfm2021_artists.where(pd.notnull(df_lastfm2021_artists), None)
api_lastfm2021_tuples = list(df_lastfm2021_artists_notnull.itertuples(index=False, name=None))
insert_api_lastfm(api_lastfm2021_tuples)

5 values entered

### 2022

In [35]:
df_lastfm2022_artists = pd.read_csv("../../files/LastFm/2022/info_artists_2022.csv", sep=";")
df_lastfm2022_artists_notnull = df_lastfm2022_artists.where(pd.notnull(df_lastfm2022_artists), None)
api_lastfm2022_tuples = list(df_lastfm2022_artists_notnull.itertuples(index=False, name=None))
insert_api_lastfm(api_lastfm2022_tuples)

5 values entered

### 2023

In [36]:
df_lastfm2023_artists = pd.read_csv("../../files/LastFm/2023/info_artists_2023.csv", sep=";")
df_lastfm2023_artists_notnull = df_lastfm2023_artists.where(pd.notnull(df_lastfm2023_artists), None)
api_lastfm2023_tuples = list(df_lastfm2023_artists_notnull.itertuples(index=False, name=None))
insert_api_lastfm(api_lastfm2023_tuples)

5 values entered

### 2024

In [37]:
df_lastfm2024_artists = pd.read_csv("../../files/LastFm/2024/info_artists_2024.csv", sep=";")
df_lastfm2024_artists_notnull = df_lastfm2024_artists.where(pd.notnull(df_lastfm2024_artists), None)
api_lastfm2024_tuples = list(df_lastfm2024_artists_notnull.itertuples(index=False, name=None))
insert_api_lastfm(api_lastfm2024_tuples)

5 values entered

#### INSERT LAST FM API DATA TOP TRACKS

In [38]:
lastfm_tops_table = {'API_LastFM_Top_Tracks' : """CREATE TABLE api_lastfm_top_tracks (
                                                    ID INT NOT NULL AUTO_INCREMENT,
                                                    Release_year YEAR NOT NULL,
                                                    Artist VARCHAR(70) NOT NULL,
                                                    Top_track VARCHAR(150),
                                                    PRIMARY KEY (ID))""" }

In [39]:
for k, v in lastfm_tops_table.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_LastFM_Top_Tracks
------------

#### INSERT LASTFM TOP TRACKS PER ARTIST DATA

In [40]:
def insert_api_lastfm_toptracks(tuples):
    query_table = """INSERT INTO api_lastfm_top_tracks (Release_year, Artist, Top_track)
                    VALUES (%s, %s, %s)"""
    

    mycursor = cnx.cursor()
    mycursor.executemany(query_table, tuples)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

### 2019

In [41]:
df_lastfm2019_top = pd.read_csv("../../files/LastFm/2019/top_tracks_2019.csv", sep=",")
lastfm2019_top_tuples = list(df_lastfm2019_top.itertuples(index=False, name=None))
insert_api_lastfm_toptracks(lastfm2019_top_tuples)

15 values entered

### 2021

In [42]:
df_lastfm2021_top = pd.read_csv("../../files/LastFm/2021/top_tracks_2021.csv", sep=",")
df_lastfm2021_top_notnull = df_lastfm2021_top.where(pd.notnull(df_lastfm2021_top), None)
lastfm2021_top_tuples = list(df_lastfm2021_top_notnull.itertuples(index=False, name=None))
insert_api_lastfm_toptracks(lastfm2021_top_tuples)

15 values entered

### 2022

In [43]:
df_lastfm2022_top = pd.read_csv("../../files/LastFm/2022/top_tracks_2022.csv", sep=",")
df_lastfm2022_top_notnull = df_lastfm2022_top.where(pd.notnull(df_lastfm2022_top), None)
lastfm2022_top_tuples = list(df_lastfm2022_top_notnull.itertuples(index=False, name=None))
insert_api_lastfm_toptracks(lastfm2022_top_tuples)

15 values entered

### 2023

In [44]:
df_lastfm2023_top = pd.read_csv("../../files/LastFm/2023/top_tracks_2023.csv", sep=",")
df_lastfm2023_top_notnull = df_lastfm2023_top.where(pd.notnull(df_lastfm2023_top), None)
lastfm2023_top_tuples = list(df_lastfm2023_top_notnull.itertuples(index=False, name=None))
insert_api_lastfm_toptracks(lastfm2023_top_tuples)

DatabaseError: 1265 (01000): Data truncated for column 'Release_year' at row 8

### 2024

In [ ]:
df_lastfm2024_top = pd.read_csv("../../files/LastFm/2024/top_tracks_2024.csv", sep=",")
df_lastfm2024_top_notnull = df_lastfm2024_top.where(pd.notnull(df_lastfm2024_top), None)
lastfm2024_top_tuples = list(df_lastfm2024_top_notnull.itertuples(index=False, name=None))
insert_api_lastfm_toptracks(lastfm2024_top_tuples)

15 values entered

## CLOSING CONNECTION

In [ ]:
cnx.close()