In [5]:
import pandas as pd
import mysql.connector

In [6]:
try:
    cnx = mysql.connector.connect(user='root', password='root',
                              host='127.0.0.1',
                              database ='StreamMusic2')
    

    mycursor = cnx.cursor()
    

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [4]:
query_create_schema = """CREATE SCHEMA StreamMusic2"""
mycursor.execute(query_create_schema)

In [5]:
mycursor.execute('USE StreamMusic2')

In [7]:
dict_table_creation = {
                        'API_Eurovision' : """CREATE TABLE api_eurovision (
                                            ID SMALLINT NOT NULL AUTO_INCREMENT,
                                            EurovisionYear YEAR NOT NULL,
                                            Ranking INT NOT NULL,
                                            Artist VARCHAR(45) NOT NULL,                              
                                            Track VARCHAR(70) NOT NULL,
                                            Country VARCHAR(3) NOT NULL,
                                            PRIMARY KEY (ID))"""}

In [8]:
for k, v in dict_table_creation.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_Eurovision
------------

#### INSERT EUROVISION API DATA

In [9]:
def insert_api_eu(year, tuples):
    query_table = """INSERT INTO API_EUROVISION (EurovisionYear, Ranking, Artist, Track, Country)
                    VALUES (%s, %s, %s, %s, %s)"""
    
    tuples_year = [(year, *t) for t in tuples]

    mycursor = cnx.cursor()
    mycursor.executemany(query_table,  tuples_year)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

# 2019

In [10]:
df_api_eurovision2019 = pd.read_csv("../files/Eurovision/2019/euro_ranking2019.csv", index_col=0)
api_eurovision2019_tuples = list(df_api_eurovision2019.itertuples(index=False, name=None))
year19 = 2019
insert_api_eu(year19, api_eurovision2019_tuples)

41 values entered

# 2021

In [11]:
df_api_eurovision2021 = pd.read_csv("../files/Eurovision/2021/euro_ranking2021.csv", index_col=0)
api_eurovision2021_tuples = list(df_api_eurovision2021.itertuples(index=False, name=None))
year_21 = 2021
insert_api_eu(year_21, api_eurovision2021_tuples)

39 values entered

# 2022

In [12]:
df_api_eurovision2022 = pd.read_csv("../files/Eurovision/2022/euro_ranking2022.csv", index_col=0)
api_eurovision2022_tuples = list(df_api_eurovision2022.itertuples(index=False, name=None))
año_22 = 2022

insert_api_eu(año_22, api_eurovision2022_tuples)

40 values entered

# 2023

In [13]:
df_api_eurovision2023 = pd.read_csv("../files/Eurovision/2023/euro_ranking2023.csv", index_col=0)
api_eurovision2023_tuples = list(df_api_eurovision2023.itertuples(index=False, name=None))
year_23 = 2023

insert_api_eu(year_23, api_eurovision2023_tuples)

37 values entered

# 2024

In [14]:
df_api_eurovision2024 = pd.read_csv("../files/Eurovision/2024/euro_ranking2024.csv", index_col=0)
api_eurovision2024_tuples = list(df_api_eurovision2024.itertuples(index=False, name=None))
year_24 = 2024

insert_api_eu(year_24, api_eurovision2024_tuples)

37 values entered

## CREATE API_SPOTIFY TABLE

In [15]:
dict_table_creation = {'API_Spotify' :     """CREATE TABLE api_spotify_playlist (
                                            ID INT NOT NULL AUTO_INCREMENT,
                                            Artist VARCHAR(45) NOT NULL,
                                            Track VARCHAR(70) NOT NULL,
                                            Popularity INT NOT NULL,
                                            EurovisionYear YEAR NOT NULL,
                                            Duration INT NOT NULL,
                                            PRIMARY KEY (ID))"""}

In [16]:
for k, v in dict_table_creation.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_Spotify
------------

#### INSERT SPOTIFY API DATA

In [17]:
def insert_api_spotify(year, tuples):
    query_table = """INSERT INTO api_spotify_playlist (Artist, Track, Popularity, EurovisionYear, Duration)
                    VALUES (%s, %s, %s, %s, %s)"""
    
    tuples_year = [(t[:3] + (year,) + t[3:]) for t in tuples]

    mycursor = cnx.cursor()
    mycursor.executemany(query_table,  tuples_year)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

# 2019

In [18]:
df_api_spotify2019 = pd.read_csv("../files/Spotify_sql/eurovision2019.csv", index_col=0)
api_spotify2019_tuples = list(df_api_spotify2019.itertuples(index=False, name=None))
year19 = 2019
insert_api_spotify(year19, api_spotify2019_tuples)

42 values entered

# 2021

In [19]:
df_api_spotify2021 = pd.read_csv("../files/Spotify_sql/eurovision2021.csv", index_col=0)
api_spotify2021_tuples = list(df_api_spotify2021.itertuples(index=False, name=None))
year21 = 2021
insert_api_spotify(year21, api_spotify2021_tuples)

53 values entered

# 2022

In [20]:
df_api_spotify2022 = pd.read_csv("../files/Spotify_sql/eurovision2022.csv", index_col=0)
api_spotify2022_tuples = list(df_api_spotify2022.itertuples(index=False, name=None))
year22 = 2022
insert_api_spotify(year22, api_spotify2022_tuples)

40 values entered

# 2023

In [21]:
df_api_spotify2023 = pd.read_csv("../files/Spotify_sql/eurovision2023.csv", index_col=0)
api_spotify2023_tuples = list(df_api_spotify2023.itertuples(index=False, name=None))
year23 = 2023
insert_api_spotify(year23, api_spotify2023_tuples)

38 values entered

# 2024

In [22]:
df_api_spotify2024 = pd.read_csv("../files/Spotify_sql/eurovision2024.csv", index_col=0)
api_spotify2024_tuples = list(df_api_spotify2024.itertuples(index=False, name=None))
year24 = 2024
insert_api_spotify(year24, api_spotify2024_tuples)

37 values entered

#### INSERT LAST FM API DATA

In [ ]:
dict_table_creation = {'API_LastFM_Info_Artists' : """CREATE TABLE api_lastfm_info_artists (
                                                    ID INT NOT NULL AUTO_INCREMENT,
                                                    Artist VARCHAR(45) NOT NULL,
                                                    Listeners INT,
                                                    Playcount INT,
                                                    Genre1 VARCHAR(45),
                                                    Genre2 VARCHAR(45),
                                                    Genre3 VARCHAR(45),
                                                    Similar_Artists1 VARCHAR(45),
                                                    Similar_Artists2 VARCHAR(45),
                                                    Similar_Artists3 VARCHAR(45),
                                                    PRIMARY KEY (ID))""" }

In [57]:
for k, v in dict_table_creation.items():
    print(f'Creating table: {k}')
    mycursor.execute(v)

    print('------------')

Creating table: API_LastFM_Info_Artists
------------

In [58]:
def insert_api_lastfm(tuples):
    query_table = """INSERT INTO api_lastfm_info_artists (Artist, Listeners, Playcount, Genre1, Genre2, Genre3, Similar_Artists1, Similar_Artists2, Similar_Artists3)
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    

    mycursor = cnx.cursor()
    mycursor.executemany(query_table, tuples)
    print(mycursor.rowcount,'values entered')
    cnx.commit()

In [67]:
df_api_lastfm2019_artists = pd.read_csv("../files/LastFm/2019/info_artists_2019.csv", sep=";")
df_api_lastfm2019_artists_notnull = df_api_lastfm2019_artists.where(pd.notnull(df_api_lastfm2019_artists), None)
df_api_lastfm2019_artists_notnull

,artist,listeners,playcount,genres,genres2,genres3,similar_artists_1,similar_artists_2,similar_artists_3
0,Duncan Laurence,573905,8395361,pop,Eurovision,soul,Cornelia Jakobs,Rosa Linn,Gjon's Tears
1,Keiino,65097,2086061,pop,norwegian,Eurovision,None,None,None
2,MARUV,85477,1950547,pop,electronic,Ukraine,LOBODA,SHLAKOBLOCHINA,None
3,Tamta,49634,912837,Greek,pop,Greek Pop,Eleni Foureira,Marina Satti,Andromache
4,Kate Miller-Heidke,137146,2222744,australian,singer-songwriter,female vocalists,Lisa Mitchell,Meg Washington,Missy Higgins

In [68]:
api_lastfm2019_tuples = list(df_api_lastfm2019_artists_notnull.itertuples(index=False, name=None))
api_lastfm2019_tuples

[('Duncan Laurence',
  573905,
  8395361,
  'pop',
  'Eurovision',
  'soul',
  'Cornelia Jakobs',
  'Rosa Linn',
  "Gjon's Tears"),
 ('Keiino',
  65097,
  2086061,
  'pop',
  'norwegian',
  'Eurovision',
  None,
  None,
  None),
 ('MARUV',
  85477,
  1950547,
  'pop',
  'electronic',
  'Ukraine',
  'LOBODA',
  'SHLAKOBLOCHINA',
  None),
 ('Tamta',
  49634,
  912837,
  'Greek',
  'pop',
  'Greek Pop',
  'Eleni Foureira',
  'Marina Satti',
  'Andromache'),
 ('Kate Miller-Heidke',
  137146,
  2222744,
  'australian',
  'singer-songwriter',
  'female vocalists',
  'Lisa Mitchell',
  'Meg Washington',
  ' Missy Higgins')]

In [69]:
insert_api_lastfm(api_lastfm2019_tuples)

5 values entered